@tailwind base;

@tailwind components;

@font-face {
  font-family: "roboto_slabregular";
  src: url("RobotoSlab-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.h3-style {
  @apply font-sans font-bold text-blue-500 text-2xl leading-none;
}

.blue-link {
  @apply text-blue-500;
}

.blue-link:hover {
  @apply text-blue-700;
}


@tailwind utilities;
